.header-container{
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    align-items: center;

    h3{

    }

    .nav-tabs{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

    .button-container{
        padding: 1rem;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 28px;
        margin-left: 1rem;
        background-color: red;
    }

    .enter-app-container{
        display: flex;
        align-items: center;
    }

    .buttonText {

    }

}

@media (max-width : 700px){
    .header-container{
        .nav-tabs{
            display: none;
        }
    }
    
}