.makeup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: green; //#0C0B17;
    .allocations{
        display: flex;
        margin-top: 24px;
        .allocation-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px;

            .allocated-to{
                text-align: center;
            }
            
        }
        .separator{
            border-left: 1px white solid;
            border-right: 1px white solid;
        }
        
    }
}